<div class="well">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

        <div class="modal-header">
            <h4 class="modal-title" id="myUserLabel" translate="film.home.createOrEditLabel">
                Create or edit a User</h4>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label translate="global.field.id">ID</label>
                <input type="text" class="form-control" name="id"
                       ng-model="vm.film.id" readonly>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.title">Title</label>
                <input type="text" class="form-control" name="title"
                       ng-model="vm.film.title" ng-required="true" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

                <div ng-show="editForm.title.$invalid">
                    <p class="help-block"
                       ng-show="editForm.title.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.title.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.duration">Description</label>
                <input type="number" class="form-control" name="duration"
                       ng-model="vm.film.duration" ng-required="vm.film.id == null">

                <div ng-show="editForm.duration.$invalid">
                    <p class="help-block"
                       ng-show="editForm.duration.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.relaseDate">Born date</label>
                <uib-datepicker name="relaseDate"
                                ng-model="vm.film.relaseDate" ></uib-datepicker>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.description">Description</label>
                <textarea type="text" class="form-control" name="description"
                          ng-model="vm.film.description" ng-required="vm.film.id == null" ng-minlength=1></textarea>

                <div ng-show="editForm.description.$invalid">
                    <p class="help-block"
                       ng-show="editForm.description.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label translate="film.genres">Genres</label>
                <select class="form-control" multiple name="genre" ng-model="vm.film.genres"
                        ng-options="genre.name for genre in vm.genres">
                </select>
            </div>


        </div>
        <div class="modal-footer">
            <!--            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                translate="entity.action.cancel">Cancel</span>
                        </button>-->
            <button type="submit" 
                    
                    class="btn btn-primary">
                <!--ng-disabled="editForm.$invalid || isSaving"--> 
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>


    </form>
</div>