<div class="well">
    <form name="editForm" role="form" novalidate  show-validation>

        <div class="modal-header">
            <h4 class="modal-title" id="myUserLabel" translate="film.home.createOrEditLabel">
                Create or edit a User</h4>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label translate="global.field.id">ID</label>
                <input type="text" class="form-control" name="id"
                       ng-model="vm.film.id" readonly>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.title">Title</label>
                <input type="text" class="form-control" name="title"
                       ng-model="vm.film.title" ng-required="true" ng-minlength=1 ng-maxlength=50>

                <div ng-show="editForm.title.$invalid">
                    <p class="help-block"
                       ng-show="editForm.title.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.title.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.duration">Duration</label>
                <input type="number" class="form-control" name="duration"
                       ng-model="vm.film.duration" ng-required="vm.film.id == null">

                <div ng-show="editForm.duration.$invalid">
                    <p class="help-block"
                       ng-show="editForm.duration.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.relaseDate">Born date</label>
                <uib-datepicker name="relaseDate"
                                ng-model="vm.film.relaseDate" ></uib-datepicker>
            </div>

            <div class="form-group">
                <label class="control-label" translate="film.description">Description</label>
                <textarea type="text" class="form-control" name="description"
                          ng-model="vm.film.description" ng-required="vm.film.id == null" ng-minlength=1></textarea>

                <div ng-show="editForm.description.$invalid">
                    <p class="help-block"
                       ng-show="editForm.description.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label translate="film.genres">Genres</label>
                <select class="form-control" multiple name="genre" ng-model="vm.film.genres"
                        ng-options="genre.name for genre in vm.genres">
                </select>
            </div>

            <div class="row">
                <div class="col-md-6 well well-info">
                    <h2>All actors</h2>
                    <input type="text" class="form-control" ng-model="vm.actorSearch.$" placeholder="Search actors">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th ><span translate="global.field.id">ID</span></th>
                                    <th ><span translate="film.actor.firstName">Date of birth</span> </th>
                                    <th ><span translate="film.actor.lastName">Date of birth</span> </th>
                                    <th ><span translate="film.actor.bornDate">Date of birth</span> </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="actor in vm.actors | filter:vm.actorSearch:strict">
                                    <td><a ui-sref="actor-detail({id:actor.id})">{{actor.id}}</a></td>
                                    <td>{{actor.firstName}}</td>
                                    <td>{{actor.lastName}}</td>
                                    <td>{{actor.bornDate}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button ng-click="vm.addActor(actor)" class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-plus"></span>
                                                <span class="hidden-xs hidden-sm" translate="film.actor.add"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-material-brown" ng-click="vm.createActor()">Add new actor</button>
                </div>
                <div class="col-md-6 well well-success">
                    <h2>Actors on movie</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th ><span translate="global.field.id">ID</span></th>
                                    <th ><span translate="film.actor.firstName">Date of birth</span> </th>
                                    <th ><span translate="film.actor.lastName">Date of birth</span> </th>
                                    <th ><span translate="film.actor.bornDate">Date of birth</span> </th>
                                    <th><span>Role</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="actorRole in vm.film.actorRoles">
                                    <td><a ui-sref="actor-detail({id:actor.id})">{{actor.id}}</a></td>
                                    <td>{{actorRole.actor.firstName}}</td>
                                    <td>{{actorRole.actor.lastName}}</td>
                                    <td>{{actorRole.actor.bornDate}}</td>
                                    <td><input type="text" class="form-control" ng-model="actorRole.roleName"></td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button                                             ng-click="vm.removeActorRole(actorRole)"
                                                                                                class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span class="hidden-xs hidden-sm" translate="film.actor.remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <!--            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                translate="entity.action.cancel">Cancel</span>
                        </button>-->
            <button ng-click="vm.save()" 

                    class="btn btn-primary">
                <!--ng-disabled="editForm.$invalid || isSaving"--> 
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>


    </form>
</div>