<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <div class="well" ng-class="{'well-success':vm.isAuthenticated()}">
                <h1 translate="home.title">Welcome, Java!</h1>

                <div ng-switch="vm.isAuthenticated()">
                    <div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                        You are logged in as user "{{vm.account.login}}".
                    </div>
                    <div ng-switch-when="true">
                        <img class="img-responsive img-circle" src="http://www.startupdb.asia/assets/images/team.default.png" ng-if="!vm.image">
                        <img class="img-responsive img-circle" ng-src="{{'/content/images/' + vm.image}}" ng-if="vm.image">
                    </div>

                    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated" translate-compile>
                        If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                    </div>

                    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register" translate-compile>
                        You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                    </div>
                </div>
            </div>


            <div class="well">
                <h3>{{vm.feed.description}}</h3>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="entry in vm.feed.entries">
                        <div class="row-action-primary">
                            <i class="material-icons">{{entry.title.charAt(0)}}</i>
                        </div>
                        <div class="row-content">
                            <h5 class="list-group-item-heading">{{entry.title}}</h5>
                            <p class="list-group-item-text">{{entry.contentSnippet}}</p>
                            <p class="list-group-item-text"><a target="_new" ng-href="{{entry.link}}">More details</a></p>
                        </div>
                    </div>
                </div>
                <uib-pagination class="pagination-sm" total-items="100" ng-model="vm.feedsPage" ng-change="vm.getFeeds()"></uib-pagination>
            </div>
        </div>


        <div class="col-md-7 col-md-offset-1">
            <div class="well">
                <h1>Films</h1>
                <input type="text" ng-model='vm.mSearch' class='form-control' placeholder="Search..." ng-change="vm.getFilms()">
                
                
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="film in vm.films">
                        <div class="row-action-primary">
                            <i class="material-icons">{{film.title.charAt(0)}}</i>
                        </div>
                        <div class="row-content">
                            <div class="least-content"><span class="badge">{{film.rating}}</span></div>
                            <h4 class="list-group-item-heading">{{film.title}}</h4>
                            <p class="list-group-item-text">
                                {{film.description}}
                            </p>
                            <p></p>
                            <p class="list-group-item-text">
                                Release date: {{film.releaseDate}}, Duration {{film.duration}}
                            </p>
                            <div ng-switch="vm.isAuthenticated()">
                                <div ng-switch-when="true">
                                    <a ui-sref="films-detail({id:film.id})">More details</a>
                                </div>

                                <div ng-switch-when="false">
                                    Log in to see more details
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class='btn btn-primary btn-block' ng-show='vm.more' ng-click='vm.loadNextPage()'>Load more...</button>
                </div>
            </div>

            <div class="well" ng-if="vm.isAuthenticated()">
                <h1>Favorites</h1>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="film in vm.favorites">
                        <div class="row-action-primary">
                            <i class="material-icons">{{film.title.charAt(0)}}</i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">{{film.rating}}</div>
                            <h4 class="list-group-item-heading">{{film.title}}</h4>
                            <p class="list-group-item-text">
                                {{film.description}}
                            </p>
                            <p></p>
                            <p class="list-group-item-text">
                                Release date: {{film.releaseDate}}, Duration {{film.duration}}
                            </p>

                            <a ui-sref="film-detail({id:film.id})">More details</a>

                        </div>
                    </div>
                    <div class="text-center">
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>
            </div>

            <div class="well">
                <h3>Search IMDB: </h3>
                <div class="form-group">
                    <input class="form-control" ng-model="vm.search" ng-change="vm.onSearchChange()" placeholder="Search IMDB...">
                </div>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="result in vm.searchResults.Search">
                        <div class="row-action-primary">
                            <i class="material-icons">{{result.title.charAt(0)}}</i>
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{result.Title}} ({{result.Year}})</h4>
                            <p class="list-group-item-text">{{result.Type}}</p>
                            <p class="list-group-item-text"><a target="_new" ng-href="{{'http://www.imdb.com/title/'+result.imdbID}}">More details</a></p>
                        </div>
                        <span class="list-group-separator"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
